header {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  text-align: center;
  font-style: italic;
  padding-top: 35px;
}

body {
  line-height: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: darksalmon;
}

.webnavlinks {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

footer {
  color: black;
  font-style: bold;
  text-align: center;
  font-family: Courier, monospace;
}

.Resume {
  text-align: left;
}

fieldset {
  text-align: left;
  line-height: 35px;
}

#textbox {
  height: 5px;
  width: auto;
}

.serviceCardUl {
  width: 600px;
  height: 500px;
  display: inline-flex;
  justify-content: left;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
}

.serviceCard {
  padding-top: 0%;
  background-color: lightblue;
  box-shadow: 6px 3px 3px 5px rgba(0, 0, 0, 0.3);
  height: fit-content;
  width: 600px;
  height: 500px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
}

.introduction {
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: lightblue;
  box-shadow: 6px 3px 3px 5px rgba(0, 0, 0, 0.2);
  width: 840px;
  height: 500px;
  text-align: left;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  line-height: 30px;
}

.introUl {
  display: flex;
  justify-content: center;
  display: inline-flex;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.testimonials {
  padding-top: 0px;
  background-color: lightblue;
  box-shadow: 6px 3px 3px 5px rgba(0, 0, 0, 0.2);
  width: 900px;
  height: 700px;
  text-align: center;
  overflow: auto;
  font-size: x-large;
}

.testiUl {
  display: flex;
  justify-content: center;
  display: inline-block;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.dogImg {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  padding-bottom: 0;
  
}

#resumeInfoContainer {
  line-height: 30px;
}

.testimonialBio {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 140%;
  font-size: larger;
}